.menu{
display: flex;
justify-content: space-between;
background-color:#000000;
font-size: 20px;
font-family: sans-serif;
font-weight: 400;
color: #ffffff;
}
body{
    background-color: whitesmoke;
    margin: 0px;
}

.grid{
    display: flex;
    border: 2px solid black;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5px;
    background-color: rgb(255, 182, 0);
}

.origami{
    display: flex;
    border-radius: 20px;
    background-color: white;

    width: 310px;
    font-family: fantasy;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px;
    margin-bottom: 15px;
}

.header{
    padding: 5px;
    margin: auto;
}